﻿@model Model.ApplicationAssignment

@{
    ViewBag.Title = "Details";
}

<h5>@ViewBag.Title </h5>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Host.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAssigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAssigned)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
