﻿@model IEnumerable<Model.ApplicationAssignment>

@{
    ViewBag.Title = "Application Assignments";
}

<div class="card shadow">
    <div class="card-header bg-info">
        <h5 class="text-light">@ViewBag.Title</h5>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("  ", "Create", null, new { @class = "fa fa-plus-square" })
        </p>
        <hr />
        <table class="display table table-striped table-bordered" id="report" style="width:100%" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Application.Name)*@ Application
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Host.Name)*@ Host
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateAssigned)
                    </th>
                    <th></th>
                </tr>
                </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Application.Name, "Details", "Applications", new { id = item.ApplicationId }, null)
                        </td>
                        <td>
                            @Html.ActionLink(item.Host.Name, "Details", "Hosts", new { id = item.HostId }, null)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAssigned)
                        </td>
                        <td>
                            @*@Html.ActionLink(" ", "Edit", new { applicationId = item.ApplicationId, hostId = item.HostId }, new { @class = "fa fa-edit" }) |
                            @Html.ActionLink(" ", "Details", new { applicationId = item.ApplicationId, hostId = item.HostId }, new { @class = "fa fa-search-plus" }) |*@
                            @Html.ActionLink(" ", "Delete", new { applicationId = item.ApplicationId, hostId = item.HostId }, new { @class = "fa fa-trash" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</div>