﻿@model Model.HostAssignment

@{
    ViewBag.Title = "Delete";
}

<h5 class="text-secondary">Are you sure you want to revoke the assignment of @Model.IpAddress to @Model.Host.Name in @Model.Network.Name?</h5>
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <br />
    <table class="display table table-striped table-bordered shadow" style="width:100%" width="100%" cellspacing="0">
        <thead>
            <tr class="bg-info">
                <th>
                    @*@Html.DisplayNameFor(model => model.Host.Name)*@ Host
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Network.Name)*@ Network
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IpAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAssigned)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.ActionLink(Model.Host.Name, "Details", "Hosts", new { id = Model.HostId }, null)
                </td>
                <td>
                    @Html.ActionLink(Model.Network.Name, "Details", "Networks", new { id = Model.NetworkId }, null)
                </td>
                <td>
                    @Html.ActionLink(Model.IpAddress, "Details", "Hosts", new { id = Model.HostId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.DateAssigned)
                </td>
            </tr>
    </table>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <button class="btn btn-info">@Html.ActionLink("Cancel", "Index", null, new { style = "decoration: none", @class = "text-light" })</button>
    </div>
    }
</div>
