﻿@model Model.HostAssignment

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @{
        var context = new Model.NetHostTrackerContext();
        var host = context.Hosts.Find(Model.HostId);
        var network = context.Networks.Find(Model.NetworkId);
        <h5 class="text-secondary">Edit IP Address for @host.Name in @network.Name</h5>
    }<hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.NetworkId)
    @Html.HiddenFor(model => model.HostId)
    @Html.HiddenFor(model => model.DateAssigned)

    <div class="form-group">
        @Html.LabelFor(model => model.IpAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.IpAddress, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IpAddress, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" />
            <button class="btn btn-info">@Html.ActionLink("Cancel", "Index", null, new { style = "decoration: none", @class = "text-light" })</button>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
