﻿@model IEnumerable<Model.HostAssignment>

@{
    ViewBag.Title = "Host Assignments";
}

<div class="card shadow">
    <div class="card-header bg-info">
        <h5 class="text-light">@ViewBag.Title</h5>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("  ", "Create", null, new { @class = "fa fa-plus-square" })
        </p>
        <hr />
        <table class="display table table-striped table-bordered" style="width:100%" id="report" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Host.Name)*@ Host
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.Network.Name)*@ Network
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IpAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateAssigned)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.Host.Name, "Details", "Hosts", new { id = item.HostId }, null)
                    </td>
                    <td>
                        @Html.ActionLink(item.Network.Name, "Details", "Networks", new { id = item.NetworkId }, null)
                    </td>
                    <td>
                        @Html.ActionLink(item.IpAddress, "Details", "Hosts", new { id = item.HostId }, null)
                        @Html.ActionLink(" ", "Edit", new { hostId = item.HostId, networkId = item.NetworkId, ipAddress = item.IpAddress }, new { @class = "fa fa-edit" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAssigned)
                    </td>

                    <td>
                        @*@Html.ActionLink(" ", "Edit", new { hostId = item.HostId, networkId = item.NetworkId, ipAddress = item.IpAddress }, new { @class = "fa fa-edit" }) |*@
                        @Html.ActionLink(" ", "Delete", new { hostId = item.HostId, networkId = item.NetworkId, ipAddress = item.IpAddress }, new { @class = "fa fa-trash" })
                    </td>
                </tr>
                }
        </table>
    </div>
</div>