﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Network Host Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-info">
        <div class="container">
            @*<div class="navbar-header">*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            @Html.ActionLink("Network Host Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @*</div>*@
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Networks", "Index", "Networks", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Hosts", "Index", "Hosts", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Applications", "Index", "Applications", null, new { @class = "nav-link" })</li>
                    <li class="dropdown  nav-item">
                        <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Assignments</a>
                        <ul class="dropdown-menu bg-info" aria-labelledby="navbarDropdown">
                            <li class="nav-item">@Html.ActionLink("Host", "Index", "HostAssignments", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Application", "Index", "ApplicationAssignments", null, new { @class = "nav-link" })</li>
                        </ul>
                    </li>
                    <li class="dropdown  nav-item">
                        <a class="dropdown-toggle nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</a>
                        <ul class="dropdown-menu bg-info" aria-labelledby="navbarDropdown">
                            <li class="nav-item">@Html.ActionLink("Host Types", "Index", "HostTypes", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Locations", "Index", "Locations", null, new { @class = "nav-link" })</li>
                        </ul>
                    </li>
                </ul>
                <span class="nav navbar-text text-right">Hello, @User.Identity.Name</span>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - James Taruvinga</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#report').DataTable({
                "dom": '<"top"lfi>rt<"bottom"p><"clear">',
            });
        });
        $(document).ready(function () {
            $('#report2').DataTable({
                "dom": '<"top"lfi>rt<"bottom"p><"clear">',
            });
        });

        $(document).ready(function () {
            $('#report3').DataTable({
                "dom": '<"top"lfi>rt<"bottom"p><"clear">',
            });
        });

    </script>
</body>
</html>
