﻿@model Model.Host

@{
    ViewBag.Title = "Delete";
}

<h4 class="text-secondary">Are you sure you want to delete host @Model.Name?</h4>
<br />
<div>
    <table class="display table table-striped table-bordered shadow" style="width:100%" width="100%" cellspacing="0">
        <thead>
            <tr class="bg-info">
                <th>
                    Name
                </th>
                <th>
                        Description
                    </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.DomainName)
                    </th>*@
                <th>
                    Default Network
                </th>
                <th>
                   IP Address
                </th>
                <th>
                    Host Type
                </th>
                <th>
                   Location
                </th>
                <th>
                    IsPhysical
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        @Html.ActionLink(Model.Name, "Details", "Hosts", new { id = Model.Id }, null)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => Model.Description)
                        </td>
                    <td>
                        @{
                            var defaultNetwork = new Model.NetHostTrackerContext().Networks.Find(Model.DefaultNetwork);
                            var defaultNetworkString = defaultNetwork.Name + " <" + defaultNetwork.IpAddress + ">";
                            @Html.ActionLink(defaultNetworkString, "Details", "Networks", new { id = Model.DefaultNetwork }, null)

                        }
                    </td>
                    <td>
                        @Html.ActionLink(Model.DefaultNetworkIpAddress, "Details", "Hosts", new { id = Model.Id }, null)
                    </td>
                    <td>
                        @{
                            var hostType = new Model.NetHostTrackerContext().HostTypes.Find(Model.HostTypeId);
                            @Html.ActionLink(hostType.Name, "Details", "HostTypes", new { id = Model.HostTypeId }, null)

                        }
                    </td>
                    <td>
                        @{
                            var location = new Model.NetHostTrackerContext().Locations.Find(Model.LocationId);
                            @Html.ActionLink(location.Name, "Details", "Locations", new { id = Model.LocationId }, null)

                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.IsPhysical)
                    </td>
                    @*<td>
                            @Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "fa fa-edit" }) |
                            @Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class = "fa fa-trash" })
                        </td>*@
                </tr>
        </tbody>

    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
<br />
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <button class="btn btn-info">@Html.ActionLink("Cancel", "Details", new { id = Model.Id }, new { style = "decoration: none", @class = "text-light" })</button>
    </div>
    }
</div>
