﻿@model Model.Host

@{
    ViewBag.Title = "Host Name";
    ViewBag.SubTitle = Model.Name;
}

<h5 class="text-secondary">@ViewBag.Title &raquo; @ViewBag.SubTitle</h5>
<div class="btn-group">
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Index", null, new { @class = "text-info fa fa-arrow-left" }) </span>
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "text-info fa fa-edit" })</span>
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class = "text-info fa fa-trash" })</span>
</div>
<table class="table table-striped table-bordered table-responsive-md shadow">
    <tr class="bg-info">
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.DomainName)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.HostType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPhysical)
        </th>
        @if (!Model.IsPhysical)
        {
            <th>
                @Html.DisplayNameFor(model => model.PhysicalHostId)
            </th>
        }
    </tr>
    <tr>
        <td>
            @if (string.IsNullOrEmpty(Model.Description))
            {
                <i>None</i>
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.Description)
            }
        </td>
        @*<td>
                @Html.DisplayFor(model => model.DomainName)
            </td>*@
        <td>
            @Html.ActionLink(Model.HostType.Name, "Details", "HostTypes", new { id = Model.HostTypeId }, null)
        </td>
        <td>
            @Html.DisplayFor(model => model.Make)
        </td>
        <td>
            @Html.ActionLink(Model.Location.Name, "Details", "Locations", new { id = Model.LocationId }, null)
        </td>
        <td>
            @Html.DisplayFor(model => model.IsPhysical)
        </td>
        @if (!Model.IsPhysical)
        {
            var physicalHost = new Model.NetHostTrackerContext().Hosts.FirstOrDefault(e => e.Id == Model.PhysicalHostId);
            <td>
                @Html.ActionLink(physicalHost.Name, "Details", "Hosts", new { id = physicalHost.Id }, null)
            </td>
        }

    </tr>

</table>
<br />
<div class="card shadow">
    <div class="card-header bg-info"><h5>Networks</h5></div>
    <div class="card-body">
        <table class="display table table-striped table-bordered table-responsive-md table-hover" style="width:100%" id="report" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Network
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Net IP Address
                    </th>
                    <th>
                        Host IP Address
                    </th>
                    <th>
                        Net Mask
                    </th>
                    <th>
                        Default Gateway
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var context = new Model.NetHostTrackerContext();
                    var assignments = context.HostAssignments.Where(e => e.HostId == Model.Id).ToList();
                    var netIds = new List<int>();
                    assignments.ForEach(e => netIds.Add(e.NetworkId));
                }
                @foreach (var item in assignments)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Network.Name, "Details", "Networks", new { id = item.NetworkId }, null)
                            @if (item.NetworkId == Model.DefaultNetwork)
                            {<i class="fa fa-star"></i>}
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Network.Description)
                        </td>
                        <td>
                            @Html.ActionLink(item.Network.IpAddress, "Details", "Networks", new { id = item.NetworkId }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IpAddress)
                            @Html.ActionLink(" ", "Edit", "HostAssignments", new { hostId = item.HostId, networkId = item.NetworkId, ipAddress = item.IpAddress }, new { @class = "fa fa-edit" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Network.NetMask)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Network.DefaultGateway)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@if (Model.IsPhysical)
{
    <br />
    <div class="card shadow">
        <div class="card-header bg-info">
            <h5>Virtual Machines</h5>
        </div>
        <div class="card-body">
            <table class="display table table-striped table-bordered" id="report3" style="width:100%" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            IP Address
                        </th>
                        <th>
                            Description
                        </th>
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.VirtualMachines)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name, "Details", "Hosts", new { id = item.Id }, null)
                            </td>
                            <td>
                                @Html.ActionLink(item.DefaultNetworkIpAddress, "Details", "Hosts", new { id = item.Id }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<br />
<div class="card shadow">
    <div class="card-header bg-info">
        <h5>Applications</h5>
    </div>
    <div class="card-body">
        <table class="display table table-striped table-bordered" id="report2" style="width:100%" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Application
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Primary Host
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @{
                    var applications = new Model.NetHostTrackerContext().ApplicationAssignments.Where(e => e.HostId == Model.Id).ToList();
                }
                @foreach (var item in applications)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Application.Name, "Details", "Applications", new { id = item.Application.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Application.Description)
                        </td>
                        <td>
                            @{
                                var primaryHost = new Model.NetHostTrackerContext().Hosts.Find(item.Application.PrimaryHost);
                            }
                            @Html.ActionLink(primaryHost.Name, "Details", "Hosts", new { id = primaryHost.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
