﻿@model IEnumerable<Model.Host>

@{
    ViewBag.Title = "Hosts";
}

<div class="card shadow">
    <div class="card-header bg-info">
        <h5 class="text-light">@ViewBag.Title</h5>
    </div>
    <div class="card-body">
    <p>
        @Html.ActionLink("  ", "Create", null, new { @class = "fa fa-plus-square" })
    </p>
    <hr />
    <table class="display table table-striped table-bordered" id="report" style="width:100%" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.DomainName)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.DefaultNetwork)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.DefaultNetwork)*@ IP Address
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HostTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPhysical)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Hosts", new { id = item.Id }, null)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.DomainName)
                        </td>*@
                    <td>
                        @{
                            var defaultNetwork = new Model.NetHostTrackerContext().Networks.Find(item.DefaultNetwork);
                            var defaultNetworkString = defaultNetwork.Name + " <" + defaultNetwork.IpAddress + ">";
                            @Html.ActionLink(defaultNetworkString, "Details", "Networks", new { id = item.DefaultNetwork }, null)

                        }
                    </td>
                    <td>
                        @Html.ActionLink(item.DefaultNetworkIpAddress, "Details", "Hosts", new { id = item.Id }, null)
                    </td>
                    <td>
                        @{
                            var hostType = new Model.NetHostTrackerContext().HostTypes.Find(item.HostTypeId);
                            @Html.ActionLink(hostType.Name, "Details", "HostTypes", new { id = item.HostTypeId }, null)

                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @{
                            var location = new Model.NetHostTrackerContext().Locations.Find(item.LocationId);
                            @Html.ActionLink(location.Name, "Details", "Locations", new { id = item.LocationId }, null)

                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPhysical)
                    </td>
                    @*<td>
                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit" }) |
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })
                    </td>*@
                </tr>
            }
        </tbody>

    </table>
    </div>
</div>