﻿@{
    ViewBag.Title = "Home";
}

<div style="padding-top: 2%">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info panel">
                <p class="panel-heading">Network</p>
                <p>
                    A network is identified by an IP address, Net Mask and Default Gateway. A name can also be assigned to a network for ease of recalling.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary panel">
                <p class="panel-heading">Host</p>
                <p>
                    A host subscribes to a network. An individual host can subscribe to multiple networks at any given time. A host defines a default network, from which it's gateway will be taken.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success panel">
                <p class="panel-heading">Host-Network Assignment (Linking)</p>
                <p>
                    This links a host and a network. 
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning panel">
                <p class="panel-heading">Location</p>
                <p>
                    Defines a location for a host.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger panel">
                <p class="panel-heading">Host Type</p>
                <p>
                    Specifies the possible host types whose IP addresses are being tracked.
                </p>
            </div>
        </div>
    </div>
</div>