﻿@model Model.Location

@{
    ViewBag.Title = "Delete";
}

<h4 class="text-secondary">Are you sure you want to delete location '@Model.Name'?</h4>
<br />
<div>
    <p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </p>
    <table class="display table table-striped table-bordered shadow" style="width:100%" width="100%" cellspacing="0">
        <thead>
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.ActionLink(Model.Name, "Details", "Locations", new { id = Model.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Description)
                </td>

                @*<td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })
                    </td>*@
            </tr>
        </tbody>
    </table>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <button class="btn btn-info">@Html.ActionLink("Cancel", "Details", new { id = Model.Id }, new { style = "decoration: none", @class = "text-light" })</button>
        </div>
    }
</div>
