﻿@model IEnumerable<Model.Location>

@{
    ViewBag.Title = "Locations";
}

<div class="card shadow">
    <div class="card-header bg-info">
        <h5 class="text-light">@ViewBag.Title</h5>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("  ", "Create", null, new { @class = "fa fa-plus-square" })
        </p>
        <hr />
        <table class="display table table-striped table-bordered" style="width:100%" id="report" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Details", "Locations", new { id = item.Id }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        @*<td>
                            @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit" }) |
                            @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" }) |
                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })
                        </td>*@
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>