﻿@model Model.Application

@{
    ViewBag.Title = "Delete";
}

<h4 class="text-secondary">Are you sure you want to delete @Model.Name application?</h4>
<br />
<div>
    <table class="display table table-striped table-bordered shadow" style="width:100%" width="100%" cellspacing="0">
        <thead>
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryHost)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.ActionLink(Model.Name, "Details", new { id = Model.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Description)
                </td>
                <td>
                    @{
                        var primaryHost = new Model.NetHostTrackerContext().Hosts.Find(Model.PrimaryHost);
                }
                @Html.ActionLink(primaryHost.Name, "Details", "Hosts", new { id = primaryHost.Id }, null)
            </td>
        </tr>
        </tbody>
    </table>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <button class="btn btn-info">@Html.ActionLink("Cancel", "Details", new { id = Model.Id }, new { style = "decoration: none", @class = "text-light" })</button>
    </div>
    }
</div>
