﻿@model Model.Application

@{
    ViewBag.Title = "Application Name";
    ViewBag.SubTitle = Model.Name;
}

<h5 class="text-secondary">@ViewBag.Title &raquo; @ViewBag.SubTitle</h5>
<div class="btn-group">
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Index", null, new { @class = "text-info fa fa-arrow-left" }) </span>
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "text-info fa fa-edit" })</span>
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class = "text-info fa fa-trash" })</span>
</div>

<table class="table table-striped able-bordered table-responsive-md shadow">
    <tr class="bg-info">
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryHost)
        </th>
    </tr>
    <tr>
        <td>
            @if (string.IsNullOrEmpty(Model.Description))
            {
                <i>None</i>
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.Description)
            }
        </td>
        <td>
            @{
                var primaryHost = new Model.NetHostTrackerContext().Hosts.Find(Model.PrimaryHost);
            }
            @Html.ActionLink(primaryHost.Name, "Details", "Hosts", new { id = primaryHost.Id }, null)
        </td>
    </tr>
</table>

<div class="card shadow">
    <div class="card-header bg-info"><h5>Hosts</h5></div>
    <div class="card-body">
        <table class="display table table-striped table-bordered table-responsive-md table-hover" style="width:100%" id="report" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Host
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Host IP Address
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Is Physical
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var context = new Model.NetHostTrackerContext();
                    var assignments = context.ApplicationAssignments.Where(e => e.ApplicationId == Model.Id).ToList();
                }
                @foreach (var item in assignments)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Host.Name, "Details", "Hosts", new { id = item.HostId }, null)
                            @if (item.HostId == Model.PrimaryHost)
                            {<i class="fa fa-star"></i>}
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Host.Description)
                        </td>
                        <td>
                            @Html.ActionLink(item.Host.DefaultNetworkIpAddress, "Details", "Hosts", new { id = item.HostId }, null)
                        </td>
                        <td>
                            @Html.ActionLink(item.Host.Location.Name, "Details", "Locations", new { id = item.Host.LocationId }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Host.IsPhysical)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
