﻿@model IEnumerable<Model.Application>

@{
    ViewBag.Title = "Applications";
}
<div class="card shadow">
    <div class="card-header bg-info">
        <h5 class="text-light">@ViewBag.Title</h5>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("  ", "Create", null, new { @class = "fa fa-plus-square" })
        </p>
        <hr />
        <table class="display table table-striped table-bordered" id="report" style="width:100%" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrimaryHost)
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>@{ 
                            var primaryHost = new Model.NetHostTrackerContext().Hosts.Find(item.PrimaryHost);
                        }
                            @Html.ActionLink(primaryHost.Name, "Details", "Hosts", new { id = primaryHost.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>