﻿@model Model.Network

@{
    ViewBag.Title = "Delete Network";
}

<h4 class="text-secondary">Are you sure you want to delete @Model.Name network?</h4>
<br />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    <table class="display table table-striped table-bordered shadow" style="width:100%" width="100%" cellspacing="0">
        <thead>
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IpAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetMask)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DefaultGateway)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.ActionLink(Model.Name, "Details", "Networks", new { id = Model.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Description)
                </td>
                <td>
                    @Html.ActionLink(Model.IpAddress, "Details", "Networks", new { id = Model.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.NetMask)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.DefaultGateway)
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <button class="btn btn-info">@Html.ActionLink("Cancel", "Details", new { id = Model.Id }, new { style = "decoration: none", @class = "text-light" })</button>
        </div>
    }
</div>
