﻿@model Model.Network

@{
    ViewBag.Title = "Network Name";
    ViewBag.SubTitle = Model.Name;
}

<h5 class="text-secondary">@ViewBag.Title &raquo; @ViewBag.SubTitle</h5>
<div class="btn-group">
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Index", null, new { @class = "text-info fa fa-arrow-left" }) </span>
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "text-info fa fa-edit" })</span>
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class = "text-info fa fa-trash" })</span>
</div>

<table class="table table-striped able-bordered table-responsive-md shadow">
    <tr class="bg-info">
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IpAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetMask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultGateway)
        </th>
    </tr>
    <tr>
        <td>
            @if (string.IsNullOrEmpty(Model.Description))
            {
                <i>None</i>
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.Description)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.IpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.NetMask)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.DefaultGateway)
        </td>
    </tr>
</table>

<br />

<div>
    <div class="card shadow">
        <div class="card-header bg-info"><h5>Hosts</h5></div>
        <div class="card-body">
            <table class="display table table-striped table-bordered table-responsive-md table-hover" style="width:100%" id="report" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Host
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Host IP Address
                        </th>
                        <th>
                            Host Type
                        </th>
                        <th>
                            Location
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var context = new Model.NetHostTrackerContext();
                        var assignments = context.HostAssignments.Where(e => e.NetworkId == Model.Id).ToList();
                        var netIds = new List<int>();
                        assignments.ForEach(e => netIds.Add(e.NetworkId));
                    }
                    @foreach (var item in assignments)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Host.Name, "Details", "Hosts", new { id = item.HostId }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Host.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IpAddress)
                                @Html.ActionLink(" ", "Edit", "HostAssignments", new { hostId = item.HostId, networkId = item.NetworkId, ipAddress = item.IpAddress }, new { @class = "fa fa-edit" })
                            </td>
                            <td>
                                @Html.ActionLink(item.Host.HostType.Name, "Details", "HostTypes", new { id = item.Host.HostTypeId }, null)
                            </td>
                            <td>
                                @Html.ActionLink(item.Host.Location.Name, "Details", "Locations", new { id = item.Host.LocationId }, null)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>
