﻿@model IEnumerable<Model.Network>

@{
    ViewBag.Title = "Networks";
}

<div class="card shadow">
    <div class="card-header bg-info">
        <h5 class="text-light">@ViewBag.Title</h5>
    </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("  ", "Create", null, new { @class = "fa fa-plus-square" })
        </p>
        <hr />
        <table class="display table table-striped table-bordered" style="width:100%" id="report" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IpAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NetMask)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DefaultGateway)
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Networks", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink(item.IpAddress, "Details", "Networks", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NetMask)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DefaultGateway)
                    </td>
                    @*<td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit" }) |
                    @Html.ActionLink(" ", "Create", "HostAssignments", new { networkId = item.Id }, new { @class = "fa fa-flash" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "fa fa-search-plus" }) |
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "fa fa-trash" })
                    </td>*@
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>