﻿@model Model.HostType

@{
    ViewBag.Title = "Host Type Name";
    ViewBag.SubTitle = Model.Name;
}

<h5 class="text-secondary">@ViewBag.Title &raquo; @ViewBag.SubTitle</h5>
<div class="btn-group">
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Index", null, new { @class = "text-info fa fa-arrow-left" }) </span>
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "text-info fa fa-edit" })</span>
    <span class="btn btn-sm btn-outline-light">@Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class = "text-info fa fa-trash" })</span>
</div>

<table class="table table-striped able-bordered table-responsive-md shadow">
    <tr class="bg-info">
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>
    <tr>
        <td>
            @if (string.IsNullOrEmpty(Model.Description))
            {
                <i>None</i>
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.Description)
            }
        </td>
    </tr>
</table>
<br />
<div>
    <div class="card shadow">
        <div class="card-header bg-info"><h5>Hosts</h5></div>
        <div class="card-body">
            <table class="display table table-striped table-bordered table-responsive-md table-hover" style="width:100%" id="report" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Host
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Host IP Address
                        </th>
                        <th>
                            Location
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Hosts)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Name, "Details", "Hosts", new { id = item.Id }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink(item.DefaultNetworkIpAddress, "Details", "Hosts", new { id = item.Id }, null)
                            </td>
                            <td>
                                @Html.ActionLink(item.Location.Name, "Details", "Locations", new { id = item.LocationId }, null)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>
